{
  "presets": ["env", "react", "stage-0"],
  "env": {
    "production": {
      "plugins": [
        "add-module-exports",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-remove-prop-types",
        "transform-react-pure-class-to-function",
        "transform-promise-to-bluebird",
        "transform-es2015-modules-commonjs",
        "transform-decorators-legacy",
        "add-module-exports"
      ]
    },
    "development": {
      "plugins": [
        "add-module-exports",
        "transform-promise-to-bluebird",
        "transform-es2015-modules-commonjs",
        "transform-decorators-legacy",
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "add-module-exports",
        "transform-promise-to-bluebird",
        "transform-es2015-modules-commonjs",
        "transform-decorators-legacy",
        "dynamic-import-node"
      ]
    }
  }
}